@import "./vars.css";
@import "./animations.css";
@import "./fretBoard.css";
@import "./segment.css";
@import "./ui.css";
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: "Anton";
}

.container {
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 20rem;
    background-color: var(--backgroundColour);

}

body {
    font-family: 'Quicksand';
    background-color: rgb(209, 209, 209);
}

.noteCell, .noteCellList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    /* padding: 1.35rem; */
    margin: auto ;
    border-radius: 10%;
    border: 1px solid rgb(41, 38, 38);
    color: rgb(41, 38, 38);
    background-color: rgba(236, 236, 236, 0.171);
}

/* .noteCellList {
    background-color: rgb(121, 121, 151);
} */

.listCellParent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: rgba(255, 255, 255, 0.089);
    border: 1px dotted rgba(255, 255, 255, 0.116);
    display: inline-block;
}

.listCell {
    display: inline-block;
    width: 1.4rem;
    height: 1.3rem;
    /* padding: 0.5rem 0.5rem; */
    border-radius: 10%;
    color: #fff;
    box-shadow: 0 0 2px 2px rgba(22, 84, 255, 0.645);
    background-color: rgb(22, 84, 255);
    text-shadow: 2px 1px 3px var(--backGroundCol);
}

.listRow {
    margin-bottom: 3.7rem;
}

.notesRow {
    margin-bottom: 1.1rem;
}

.fbAnchor {
    margin-bottom: 2rem;
}

.outputArea {
    margin: 2rem;
}

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#output {
    display: flex;
    margin-top: 2rem;
}

div.saved {
    border: 1px solid black;
    background-color: #eee;
    width: 2rem;
}

.base {
    box-shadow: 5px 5px 5px red;
}