@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300;400;500;700&family=Ranchers&display=swap');

:root {
    --rotate: 2deg;
    --unrotate: -2deg;
    --rotate2: 1.5deg;
    --unrotate2: -3deg;
    --rotate2: 0.5deg;
    --unrotate2: -4deg;

    --backgroundColour: hsl(0, 0%, 66%);

    /* SEGMENT */
    --segmentBackground: rgb(190, 163, 87);

    /*  DOTS */
    --dotBackgroundColour: rgb(194, 89, 3);

    /* STRINGS */
    --stringColour: rgb(192, 183, 183);
}